In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [110]:
path_data = '/home/darkknight/real-estate-integration/prj-exam/data-matching/final_data.csv'
final_data = pd.read_csv(path_data)
final_data

,title,description,price,square,name_contact,phone_contact,date,direct,street,floor,juridical,bedroom,length,width,link_image,url_page,kitchen,parking,terrace
0,Chính chủ bán gấp căn hộ q4,"Chính chủ bán gấp Căn hộ 2 PN, 2 WC , tầng cao...",3.250000e+09,0 m,NaN,NaN,25/03/2022,Đông,None,0 t,Sổ đỏ,0 pn,0 m,0 m,https://nhadat24h.net.vn/storage/product/121/o...,https://nhadat24h.net.vn/du-an/chinh-chu-ban-g...,Không,Không,Không
1,Bán căn hộ Gold View Full NT Q4 .1pn -2pn-3pn,"2PN, DT 80m2 : Giá từ 3.8 tỷ - 4.2tỷ 2PN, DT 9...",3.350000e+09,0 m,NaN,NaN,22/03/2022,Đông,None,0 t,Sổ đỏ,0 pn,0 m,0 m,https://nhadat24h.net.vn/storage/product/121/0...,https://nhadat24h.net.vn/du-an/ban-can-ho-gold...,Không,Không,Không
2,"Căn hộ Galaxy 9, 1 phòng ngủ, đã có sổ, view đẹp","Cần bán căn hộ Galaxy 9, Nguyễn Khoái, Quận 4,...",2.700000e+09,0 m,NaN,NaN,22/03/2022,Bắc,None,0 t,Sổ đỏ,0 pn,0 m,0 m,https://nhadat24h.net.vn/storage/product/121/c...,https://nhadat24h.net.vn/du-an/can-ho-galaxy-9...,Không,Không,Không
3,"Cần Bán căn hộ Gold View 81m2 full NT 3,900 triệu",Căn hộ cao cấp The Gold View nằm mặt tiền Bến ...,3.950000e+09,0 m,NaN,NaN,22/03/2022,Đông Bắc,None,0 t,Sổ đỏ,0 pn,0 m,0 m,https://nhadat24h.net.vn/storage/product/121/u...,https://nhadat24h.net.vn/du-an/can-ban-can-ho-...,Không,Không,Không
4,Bán 2 phòng ngủ Gold View giá cực mềm,Chủ nhà gửi bán căn hộ 2 phòng ngủ Gold View: ...,3.700000e+09,0 m,NaN,NaN,22/03/2022,Đông,None,0 t,Sổ đỏ,0 pn,0 m,0 m,https://nhadat24h.net.vn/storage/product/121/I...,https://nhadat24h.net.vn/du-an/ban-2-phong-ngu...,Không,Không,Không
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25508,Dự án Khu đô thị Bình An Đức Hòa - The Win City,None,1.000000e+09,65 m,Ngô Kim Phụng,0901.907.XXX,16/06/2022,None,Tỉnh lộ 10,0 t,Sổ hồng/ Sổ đỏ,2 pn,0m,0m,https://alonhadat.com.vnnan,https://alonhadat.com.vn/du-an-the-win-city-du...,Có,Có,Có
25509,SỞ HỮU NGAY CĂN HỘ THE WIN CITY NẰM TẠI MẶT TI...,"""Dự án chung cư giá rẻ dành riêng cho phân khú...",1.000000e+09,65 m,Ngô Kim Phụng,0901907148,18/06/2022,NaN,Tỉnh Lộ 10,1 t,NaN,2 pn,NaN,NaN,https://bds123.cdn.static123.com/images/thumbs...,https://bds123.vn/so-huu-can-ho-the-win-city-m...,NaN,NaN,NaN
25510,"Bán căn hộ, DT 823, Đức Hòa, Long An, giá cực ...",None,2.250000e+07,120 m,Nguyễn Hồng Hải,0974.041.XXX,15/06/2022,Nam,Tỉnh lộ 823,1 t,Sổ hồng/ Sổ đỏ,2 pn,20m,6m,https://alonhadat.com.vnnan,https://alonhadat.com.vn/ban-can-ho-dt-823-duc...,Có,Có,Không
25511,Mở Bán Chung Cư XPHomes Star Tân Tây Đô Quốc L...,XP HOME TÂN TÂY ĐÔ\nChỉ từ 700TR sở hữu ngay c...,1.290000e+09,64 m,Sơn Nguyễn,0961.701.XXX,17/06/2022,None,Quốc lộ 32,0 t,Sổ hồng/ Sổ đỏ,3 pn,0m,0m,https://alonhadat.com.vn/files/properties/2022...,https://alonhadat.com.vn/mo-ban-chung-cu-xphom...,Không,Không,Không
25512,CHUNGCƯ MINI HỌC VIỆN TÀI CHÍNH – 6 TẦNG - 12 ...,CHUNG CƯ MINI HỌC VIỆN TÀI CHÍNH – 6 TẦNG - 12...,4.899000e+09,43 m,Trần Hoài Nam,0983.474.XXX,15/06/2022,None,Lê Văn Hiến,6 t,Sổ hồng/ Sổ đỏ,12 pn,10m,"4,3m",https://alonhadat.com.vn/files/properties/2022...,https://alonhadat.com.vn/chungcu-mini-hoc-vien...,Có,Có,Có

In [111]:
final_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25513 entries, 0 to 25512
Data columns (total 19 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   title          25513 non-null  object
 1   description    25513 non-null  object
 2   price          24508 non-null  float64
 3   square         25513 non-null  object
 4   name_contact   24477 non-null  object
 5   phone_contact  24477 non-null  object
 6   date           25513 non-null  object
 7   direct         17647 non-null  object
 8   street         25513 non-null  object
 9   floor          25513 non-null  object
 10  juridical      17795 non-null  object
 11  bedroom        24822 non-null  object
 12  length         17795 non-null  object
 13  width          17795 non-null  object
 14  link_image     25363 non-null  object
 15  url_page       25513 non-null  object
 16  kitchen        17795 non-null  object
 17  parking        17795 non-null  object
 18  terrace        17795 non-null  object
dtypes: float64(1), object(18)
memory usage: 3.7+ MB

In [112]:
final_data.describe()

              price
count  2.450800e+04
mean   5.508835e+13
std    8.623426e+15
min    1.250000e+00
25%    1.390000e+09
50%    2.200000e+09
75%    3.450000e+09
max    1.350000e+18

In [113]:
final_data["square"]

0           0 m
1           0 m
2           0 m
3           0 m
4           0 m
          ...
25508      65 m
25509      65 m
25510     120 m
25511      64 m
25512      43 m
Name: square, Length: 25513, dtype: object

In [131]:
def convert_square(x):
    x = x.strip(' m')
    try:
        x = float(x)
    except:
        x = 0
    return x

def convert_floor(x):
    x = x.strip(' t')
    try:
        x = float(x)
    except:
        x = 0
    return x

def convert_bedroom(x):
    x = str(x).strip(' pn')
    try:
        x = float(x)
    except:
        x = 0
    return x

def convert_length(x):
    x = str(x).strip('m').strip(' ')
    try:
        x = float(x)
    except:
        x = 0
    return x

def convert_width(x):
    x = str(x).strip('m').strip(' ')
    try:
        x = float(x)
    except:
        x = 0
    return x

def convert_kitchen(x):
    if x == ' Không':
        x = 'Không'
    if x == ' Có':
        x = 'Có'
    return x

def convert_parking(x):
    if x == ' Không':
        x = 'Không'
    if x == ' Có':
        x = 'Có'
    return x

In [115]:
final_data["square"] = final_data["square"].map(lambda x: convert_square(x))
final_data["square"]

0          0.0
1          0.0
2          0.0
3          0.0
4          0.0
         ...
25508     65.0
25509     65.0
25510    120.0
25511     64.0
25512     43.0
Name: square, Length: 25513, dtype: float64

In [116]:
final_data["floor"] = final_data["floor"].map(lambda x: convert_floor(x))
final_data["floor"]

0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
        ...
25508    0.0
25509    1.0
25510    1.0
25511    0.0
25512    6.0
Name: floor, Length: 25513, dtype: float64

In [117]:
final_data["bedroom"] = final_data["bedroom"].map(lambda x: convert_bedroom(x))
final_data["bedroom"]

0         0.0
1         0.0
2         0.0
3         0.0
4         0.0
         ...
25508     2.0
25509     2.0
25510     2.0
25511     3.0
25512    12.0
Name: bedroom, Length: 25513, dtype: float64

In [118]:
final_data["length"] = final_data["length"].map(lambda x: convert_length(x))
final_data["length"]

0         0.0
1         0.0
2         0.0
3         0.0
4         0.0
         ...
25508     0.0
25509     NaN
25510    20.0
25511     0.0
25512    10.0
Name: length, Length: 25513, dtype: float64

In [119]:
final_data["width"] = final_data["width"].map(lambda x: convert_width(x))
final_data["width"]

0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
        ...
25508    0.0
25509    NaN
25510    6.0
25511    0.0
25512    0.0
Name: width, Length: 25513, dtype: float64

In [124]:
final_data["kitchen"] = final_data["kitchen"].map(lambda x: convert_kitchen(x))
final_data["kitchen"]

0        Không
1        Không
2        Không
3        Không
4        Không
         ...
25508       Có
25509      NaN
25510       Có
25511    Không
25512       Có
Name: kitchen, Length: 25513, dtype: object

In [132]:
final_data["parking"] = final_data["parking"].map(lambda x: convert_kitchen(x))
final_data["parking"]

0        Không
1        Không
2        Không
3        Không
4        Không
         ...
25508       Có
25509      NaN
25510       Có
25511    Không
25512       Có
Name: parking, Length: 25513, dtype: object

In [125]:
final_data["direct"].value_counts()

None        12396
Đông Nam     1839
Đông Bắc      847
Đông          662
Tây Bắc       511
Tây Nam       511
Nam           418
Bắc           271
Tây           192
Name: direct, dtype: int64

In [134]:
final_data["parking"].value_counts()

Không    12247
Có        5548
Name: parking, dtype: int64